<template>
  <div>
    <b-table
      striped
      fixed
      :items="cotizacion.caracteristicas"
      :fields="fields"
      responsive="sm"
      thead-tr-class="thead-dark"
    >
      <template slot="thead-top" slot-scope="data">
        <tr class="text-center">
          <th colspan="1">&nbsp;</th>
          <th v-for="cabecera in cotizacion.cabeceras">
            <p>{{ cabecera.tipo }}</p>
            <p>$ {{ cabecera.precio }}</p>
          </th>
        </tr>
      </template>
      <template slot="isEstandar" slot-scope="row" >
        <i v-if="row.value" class="fa fa-check" aria-hidden="true"></i>
        <i v-else class="fa fa-times" aria-hidden="true"></i>
      </template>

      <template slot="isPremiun" slot-scope="row" >
        <i v-if="row.value" class="fa fa-check" aria-hidden="true"></i>
        <i v-else class="fa fa-times" aria-hidden="true"></i>
      </template>

    </b-table>
  </div>
</template>

<script>
    export default {
      props: ['cotizacion'],
      data() {
        return {
          fields: [
            { key: "cobertura", label: "Cobertura" },
            { key: "isEstandar", label: "",class: 'text-center' },
            { key: "isPremiun", label: "",class: 'text-center' }
          ]
        }
      }
    }
</script>

<style scoped>
  .col {
    border: 1px solid;
    justify-content:center;
  }
  .row{
    border: 1px solid;
    justify-content:center;
  }
  .hidden_header {
    display: none;
  }

</style>
