<template>
  <div>
    <propuesta v-show="show" :cotizacion="cotizacion"></propuesta>
    <cotizador v-show="!show" :cotizacion="cotizacion"></cotizador>
  </div>
</template>

<script>
  import Propuesta from './propuesta'
  import Cotizador from './cotizador'
  import {bus} from '../main'

  export default {
    components: {
      Propuesta,
      Cotizador
    },
    data(){
      return {
        show : true,
        cotizacion: {
          cabeceras:[],
          caracteristicas:[]
        }
      }
    },
    created() {
      bus.$on('mostrarFormulario',(show) => {
        this.show = show;
      })
    }
  }
</script>
