<template>
    <div class="text-center">
      <b-img :src="require('../img/img404.jpg')" fluid alt="Responsive image" class="rounded"></b-img>
    </div>
</template>

<script>
    export default {
        name: "page404"
    }
</script>
