<template>
    <div class="form-group">
      <b-container class="bv-example-row">
        <b-row class="border-info">
          <b-col>
            <label>Destino</label>
            <br>
              <v-select :options="destinos"
                        :reduce="destino => destino.codigo"
                        label="destino"
                        :class="validateDestino"
                        v-model="propuesta.destino"
                        @input="destinoBlured = true"
              ></v-select>
              <b-form-input type="text" v-show="false"
                            :class="{'form-control':true, 'is-invalid' : !validacionDestino() && destinoBlured}"
              ></b-form-input>
              <b-form-invalid-feedback>
                Debe seleccionar el destino.
              </b-form-invalid-feedback>
          </b-col>
          <br>
          <b-col>
            <label>Número de pasajeros</label>
            <b-form-input type="number" min="1" v-model="propuesta.cantidadPasajeros"
                          :class="{'form-control':true, 'is-invalid' : !validacionPasajeros() && pasajerosBlured}"
                          @keydown="filterKey"
                          @blur="pasajerosBlured = true"
            ></b-form-input>

            <b-form-invalid-feedback>
              Debe indicar el número de pasajeros.
            </b-form-invalid-feedback>

          </b-col>
        </b-row>
        <b-row class="border-info">
          <b-col>
            <br>
            <label>Fecha partida</label>
            <b-form-input type="date" v-model="propuesta.fechaPartida"
                          :class="{'form-control':true, 'is-invalid' : !validacionFechaPartida() && fechaPartidaBlured}"
                          @blur="fechaPartidaBlured = true">
            </b-form-input>
            <b-form-invalid-feedback>
              {{ msjFechaPartida }}
            </b-form-invalid-feedback>
          </b-col>
          <b-col>
            <br>
            <label>Fecha retorno</label>
            <b-form-input type="date" v-model="propuesta.fechaRetorno"
                          :class="{'form-control':true, 'is-invalid' : !validacionFechaRetorno() && fechaRetornoBlured}"
                          @blur="fechaRetornoBlured = true"></b-form-input>
            <b-form-invalid-feedback>
              {{ msjFechaRetorno }}
            </b-form-invalid-feedback>
          </b-col>
        </b-row>

        <br>
        <b-row class="border-info">
          <b-col id="colButton">
            <b-button variant="dark"  v-on:click="cotizarViaje()">Cotizar</b-button>
          </b-col>
        </b-row>
      </b-container>
    </div>
</template>

<script>
  import CotizadorService from '../api-services/cotizador.service';
  import { bus } from '../main';

  export default {
    props: ['show','cotizacion'],
    data() {
      return {
        destinos : [],
        responseCotizacion : [],
        responseDestino : [],
        propuesta: {
          destino: '',
          cantidadPasajeros: 0,
          fechaPartida: '',
          fechaRetorno:''
        },
        keypress:'',
        validacion: false,
        destinoBlured: false,
        pasajerosBlured: false,
        fechaPartidaBlured: false,
        fechaRetornoBlured: false,
        msjFechaPartida: '',
        msjFechaRetorno: '',
        validateDestino: 'style-good'
      }
    },
    methods:{
      refrescarDestinos(){

        console.log("Se presionó el evento");

      },
      filterKey(e){

        const key = e.key;

        // If is '.' key, stop it
        if (key === '.')
          return e.preventDefault();

        if (key === '-')
          return e.preventDefault();

        // OPTIONAL
        // If is 'e' key, stop it
        if (key === 'e')
          return e.preventDefault();

      },
      validacionDestino() {

        if (!!this.propuesta.destino){

          if (this.propuesta.destino.length > 0) {
            this.validateDestino = 'style-good';
            return true;
          }else {
            this.validateDestino = 'style-chooser';
            return false;
          }

        }else {
          if (this.destinoBlured){
            this.validateDestino = 'style-chooser';
          }
          return false;
        }

      },
      validacionPasajeros() {
         return this.propuesta.cantidadPasajeros > 0;
      },
      validacionFechaPartida() {

        if (this.propuesta.fechaPartida.length > 0 ){

          var fechaDate = new Date();
          var f1 = this.propuesta.fechaPartida.split("-");
          fechaDate.setFullYear(f1[0],f1[1]-1,f1[2]);

          var today = new Date();

          if (fechaDate >= today){
            return true;

          } else {
            this.msjFechaPartida = 'La fecha de partida no puede ser menor al día de hoy.';

            return false;
          }

        } else {
          this.msjFechaPartida = 'La fecha de partida no puede estar vacía.';

          return false;

        }

      },

      validacionFechaRetorno() {

        console.log(this.propuesta.fechaPartida.length > 0);


        if (this.propuesta.fechaRetorno.length > 0 ){

          var fechaRetornoDate = new Date();
          var f1 = this.propuesta.fechaRetorno.split("-");
          fechaRetornoDate.setFullYear(f1[0],f1[1]-1,f1[2]);

          var today = new Date();

          if (fechaRetornoDate >= today){

            var fechaPartidaDate = new Date();
            var f2 = this.propuesta.fechaPartida.split("-");
            fechaPartidaDate.setFullYear(f2[0],f2[1]-1,f2[2]);

            if (fechaRetornoDate >= fechaPartidaDate){
              return true;
            } else{
              this.msjFechaRetorno = 'La fecha de retorno no puede ser menor la fecha de partida.';
              return false;
            }

            return true;

          } else {
            this.msjFechaRetorno = 'La fecha de retorno no puede ser menor al día de hoy.';

            return false;
          }

        } else {
          this.msjFechaRetorno = 'La fecha de retorno no puede estar vacía.';

          return false;

        }

      },
      validar(){
        this.destinoBlured = true;
        this.pasajerosBlured = true;
        this.fechaPartidaBlured = true;
        this.fechaRetornoBlured = true;

        console.log(this.validacionDestino());

        if( this.validacionDestino() &&
          this.validacionPasajeros() &&
          this.validacionFechaPartida() &&
          this.validacionFechaRetorno()){
          this.validacion = true;
        }

      },
      cotizarViaje(){

        this.validar();

        if (this.validacion){

          console.log("A COTIZAR!!!!!!");

          let objetoDestino = this.destinos.find(x => x.codigo === this.propuesta.destino);
          let requestDestino = objetoDestino.destino.replace(","," -") +" ("+ objetoDestino.codigo + ")";

          console.log(requestDestino);

          let parametros = {
            destino: requestDestino,
            fecha_partida: this.propuesta.fechaPartida,
            fecha_retorno: this.propuesta.fechaRetorno,
            cantidad_pasajeros: this.propuesta.cantidadPasajeros
          };

          console.log(parametros);

          CotizadorService.postCotizacion(parametros).then((response) => {
            console.log(response.data);
            return response.data;
          }).catch( (error) => {
            console.log(error.response.data)
          })
            .then(responseCotizacion => {

              this.responseCotizacion = responseCotizacion;

              let isEstandar = true;

              responseCotizacion.forEach(plan => {

                //Cabeceras
                this.cotizacion.cabeceras.push({
                  tipo: plan.tipo_plan,
                  precio: plan.precio_plan
                });

                plan.caracteristicas.forEach(cobertura => {

                  if(isEstandar){ //registra

                    this.cotizacion.caracteristicas.push({
                      cobertura: cobertura.caracteristica,
                      isEstandar: cobertura.aplica,
                      isPremiun: false
                    });

                  } else { //actualiza

                    this.cotizacion.caracteristicas.forEach((element, index) => {
                      if(element.cobertura === cobertura.caracteristica) {
                        element.isPremiun = cobertura.aplica;
                        this.cotizacion.caracteristicas[index] = element;
                      }
                    });

                  }

                });

                isEstandar=false;

              });

            });

          bus.$emit('mostrarFormulario', false);

        } else {

          console.log("NO COTIZO");

        }

      }
    },
    created() {

      bus.$emit('mostrarFormulario',true);

      CotizadorService.getAll()
        .then((response) => {
          return response.data;
        }).catch( (error) => {
        console.log(error.response.data)
        })
        .then(responseDestino => {

          this.responseDestino = responseDestino;

          this.responseDestino.forEach((dest) =>{

            let splitted = dest.split("-", 2);

            this.destinos.push({
              codigo:splitted[0].trim(),
              destino:splitted[1].trim()
            });

          });

        });
    }
  }
</script>

<style >
  .style-chooser .vs__dropdown-toggle {
    border-color: red;
  }
  .style-chooser .vs__dropdown-menu {
    border-color: red;
  }
  .style-good .vs__dropdown-toggle {
    border: 1px solid #ced4da;
    border-radius: 4px;
    height:calc(1.5em + 0.75rem + 2px);
  }
  .col {
    justify-content:center;
  }
  .row{
    justify-content:center;
  }
  #colButton{
    text-align: center;
  }
</style>
