<template>
  <div id="app">
    <b-container fluid>
      <b-jumbotron>
        <h3>Cotizador de Seguros de Viajes</h3>
        <br>
        <router-view></router-view>
      </b-jumbotron>
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
    }
  }
}
</script>

<style>
  .v-select.dropdown .b-dropdown-toggle::after {
    content: inherit;
  }
  .v-select.dropdown .b-form-control {
    height: inherit;
  }

</style>
